@page "/Details"


<div class="container-fluid d-flex justify-content-center m-5">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="card">
            <div class="card-header text-black bg-transparent text-center">
                <h5>Distribution of the data types in the file</h5>
            </div>
            <div class="card-body">
                <table class="table table-bordered border-dark">
                    <thead>
                        <tr>
                            <th scope="col">% Numeric</th>
                            <th scope="col">% Alphanumeric</th>
                            <th scope="col">%Float</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>test</td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>