@page "/"

<PageTitle>Programming Test</PageTitle>
<div class="container-fluid d-flex justify-content-center m-5">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent text-center">
                <h5>Programming Test C1002</h5>
            </div>
            <div class="card-body">
                <form class="row gx-3 gy-2">
                    <div class="col-sm-4">
                        <div class="form-check">
                            <input class="form-check-input" disabled type="checkbox" id="numeric">
                            <label class="form-check-label" for="numeric">Numeric</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" disabled type="checkbox" id="alphanumeric">
                            <label class="form-check-label" for="alphanumeric">Alphanumeric</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" disabled type="checkbox" id="float">
                            <label class="form-check-label" for="float">Float</label>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <label for="fileSize" class="form-label text-center">Size of the output file (KB)</label>
                        <input type="number" class="form-control" id="fileSize">
                    </div>
                    <div class="col-auto">
                        <button type="button" id="btnStart" @onclick="onClick_btnStart" class="btn btn-success btn-sm">Start</button>
                        <button type="button" id="btnStop" @onclick="onClick_btnStop" class="btn btn-danger btn-sm">Stop</button>
                    </div>
                    <div class="row mb-3">
                        <label for="counterOne" class="col-sm-4 col-form-label">Counter 1 (Numeric)</label>
                        <div class="col-sm-8">
                            <input type="number" disabled class="form-control" @bind="integerCount" id="counterOne">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="counterTwo" class="col-sm-4 col-form-label">Counter 2 (Alphanumeric)</label>
                        <div class="col-sm-8">
                            <input type="number" disabled class="form-control" @bind="stringCount" id="counterTwo">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="counterThree" class="col-sm-4 col-form-label">Counter 3 (Float)</label>
                        <div class="col-sm-8">
                            <input type="number" disabled class="form-control" @bind="floatCount" id="counterThree">
                        </div>
                    </div>
                </form>
                <div class="bg-transparent d-grid gap-2">
                    <button type="button" class="btn btn-primary btn-sm rounded-pill">Generate Report</button>
                </div>
            </div>
        </div>
    </div>
</div>

